<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HUB CMS{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('appStyle') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {#            {% block importmap %}{{ importmap('app') }}{% endblock %} #}
    {% endblock %}
</head>
<body style="display: flex;">
<aside class="menu sidebar">
    <p class="menu-label">Mon applciation</p>
    <ul class="menu-list">
        <li class=""><a class="has-text-warning" href="{{ path('manage_app_pages',{'appSlug':currentApp.slug}) }}">Arborescence</a></li>

        {#            <li><a>Gestions des articles</a></li> #}
    </ul>
    <p class="menu-label">Communauté</p>
    <ul class="menu-list">
        <li><a class="has-text-danger">Utilisateurs</a></li>
        <li><a class="has-text-danger">Groupes</a></li>
        <li><a class="has-text-danger">Permissions</a></li>
    </ul>
    <p class="menu-label">Contenu</p>
    <ul class="menu-list">
        <li><a class="has-text-danger">Articles</a></li>
        <li><a class="has-text-danger">Pages</a></li>
{#        <li><a>Commentaires</a></li>#}
    </ul>
    <p class="menu-label">Formulaires</p>
    <ul class="menu-list">
        <li><a class="has-text-danger">Formulaires</a></li>
    </ul>
    <p class="menu-label">Extensions</p>
    <ul class="menu-list">
        <li><a class="has-text-danger">Extensions store</a></li>
        <li><a class="has-text-danger">Extensions installées</a></li>
    </ul>
    <p class="menu-label">Paramètres</p>
    <ul class="menu-list">
        <li><a class="has-text-danger">Paramètres généraux</a></li>
        <li><a class="has-text-danger">Paramètres de l'application</a></li>
    </ul>

    <hr/>
    <ul class="menu-list">
        {% if currentApp is defined %}
            {% for lang in ['fr', 'en'] %}
                <li><a href="{{ path('change_locale_lang', {'appSlug':currentApp.slug, 'lang': lang}) }}">{{ lang }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    {#        <p class="menu-label">Paramètres</p> #}
    {#        <ul class="menu-list"> #}
    {#            <li><a>Payments</a></li> #}
    {#            <li><a>Transfers</a></li> #}
    {#            <li><a>Balance</a></li> #}
    {#        </ul> #}
</aside>
<section class="section">
    {% block body %}{% endblock %}
</section>
</body>
</html>
